body {
    background-color: #FFD5A4;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: end;
    position: relative;
}



/* Navbar section start*/

.header {
    background-color: #EB4949;
    padding: 30px;
    color: #FFE6A5;
    text-align: center;
    font-size: 55px;
}